
body
{
    background-image: url("/images/ggggg.jpg");
}
header
{

background-color: wheat;
height: 20%;
width: 100%;
color: white;
border-style: solid;
border-color: green;
border-width: 4px;


}
header h2{
    text-align: center;
    color: blueviolet;
}
header h1{
    text-align: center;
    color: blueviolet;
}
.act1
{margin: auto;
    color: blue;

    background-color: aquamarine;
    width: 15%;
    text-align: center;
    border-style: dashed;
    border-color: black;

text-shadow:  0 1px #808d93,
-1px 0 #cdd2d5,
-1px 2px #808d93,
-2px 1px #cdd2d5,
-2px 3px #808d93,
-3px 2px #cdd2d5,
-3px 4px #808d93,
-4px 3px #cdd2d5,
-4px 5px #808d93,
-5px 4px #cdd2d5,
-5px 6px #808d93,
-6px 5px #cdd2d5,
-6px 7px #808d93,
-7px 6px #cdd2d5,
-7px 8px #808d93,
-8px 7px #cdd2d5;
}
img {
    float: left;
    margin: 5px;
    height: 25;
    width: 15%;
  }

.kkk{text-align: justify;
    font-size: 28px;}

.yyy{text-align: justify;
    font-size: 30px;}

.vvv{text-align: justify;
    font-size: 30px;}

    .mmm{ float: right;
        margin: 5px;
        height: 50;
        width: 15%;}

.ooo{text-align: justify;
    font-size: 28px}

.p1{background-color: aqua; width: 50%; float:left; font-size: xx-large;}
.p2{background-color: beige; width: 50%;float: right; font-size: xx-large;}

.act2
{color: blue;
    margin: auto;

    background-color: aquamarine;
    width: 15%;
    text-align: center;
    border-style: dashed;
    border-color: black;

text-shadow:  0 1px #808d93,
-1px 0 #cdd2d5,
-1px 2px #808d93,
-2px 1px #cdd2d5,
-2px 3px #808d93,
-3px 2px #cdd2d5,
-3px 4px #808d93,
-4px 3px #cdd2d5,
-4px 5px #808d93,
-5px 4px #cdd2d5,
-5px 6px #808d93,
-6px 5px #cdd2d5,
-6px 7px #808d93,
-7px 6px #cdd2d5,
-7px 8px #808d93,
-8px 7px #cdd2d5;
}
.act3
{color: blue;
    margin: auto;

    background-color: aquamarine;
    width: 15%;
    text-align: center;
    border-style: dashed;
    border-color: black;

text-shadow:  0 1px #808d93,
-1px 0 #cdd2d5,
-1px 2px #808d93,
-2px 1px #cdd2d5,
-2px 3px #808d93,
-3px 2px #cdd2d5,
-3px 4px #808d93,
-4px 3px #cdd2d5,
-4px 5px #808d93,
-5px 4px #cdd2d5,
-5px 6px #808d93,
-6px 5px #cdd2d5,
-6px 7px #808d93,
-7px 6px #cdd2d5,
-7px 8px #808d93,
-8px 7px #cdd2d5;
}

.p3{text-align: justify;
    font-size: 28px;}

.bbb{ float: right;
    margin: 5px;
    height: 50;
    width: 15%;}

    #q{background-color: tomato;width: 15%;border-style: solid;   border-radius: 20px;}
    #w{background-color: blueviolet;width: 15% ;border-style: solid;   border-radius: 20px;}
    #e{background-color: orange;width: 15% ;border-style: solid;   border-radius: 20px;}
    #r{background-color: mediumspringgreen;width: 15% ;border-style: solid;   border-radius: 20px;}
    #t{background-color: burlywood;width: 15% ;border-style: solid;   border-radius: 20px;}

    #a{background-color: tomato;width: 15%;border-style: solid;   border-radius: 20px;}
    #s{background-color: blueviolet;width: 15% ;border-style: solid;   border-radius: 20px;}
    #d{background-color: orange;width: 15% ;border-style: solid;   border-radius: 20px;}
    #f{background-color: mediumspringgreen;width: 15% ;border-style: solid;   border-radius: 20px;}
    #g{background-color: burlywood;width: 15% ;border-style: solid;   border-radius: 20px;}
    #h{background-color: green;width: 15% ;border-style: solid;   border-radius: 20px;}
    #j{background-color: magenta;width: 15% ;border-style: solid;   border-radius: 20px;}
    
    footer
    {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: larger;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
bottom: 0%;
    width: 100%;
    background-color: #454545 ;
    color: gold;
     }

     .act4
     {margin: auto;
         color: blue;
     
         background-color: aquamarine;
         width: 15%;
         text-align: center;
         border-style: dashed;
         border-color: black;
     
     text-shadow:  0 1px #808d93,
     -1px 0 #cdd2d5,
     -1px 2px #808d93,
     -2px 1px #cdd2d5,
     -2px 3px #808d93,
     -3px 2px #cdd2d5,
     -3px 4px #808d93,
     -4px 3px #cdd2d5,
     -4px 5px #808d93,
     -5px 4px #cdd2d5,
     -5px 6px #808d93,
     -6px 5px #cdd2d5,
     -6px 7px #808d93,
     -7px 6px #cdd2d5,
     -7px 8px #808d93,
     -8px 7px #cdd2d5;
     }

     .lll{float: right;
        margin: 5px;
        height: 50;
        width: 15%}
    
        .lastp
        {

text-align: justify;
    font-size: 28px;

        }

.lastp{text-align: justify;
    font-size: 28px}